# Node
node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Build output
dist
build

# Docker
Dockerfile.dev
docker-compose*.yml

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Test
tests 