# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-store

# Build output
dist
build
.next

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*
.dockerignore

# OS
.DS_Store
Thumbs.db

# Test
tests
coverage

# Misc
.vscode
.idea
*.md